{% extends 'index.html' %}
{% block content %}

<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">CATEGORY FORM</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form action="{% url 'display' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="card-body">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" placeholder="name" name="name">
        </div>
        <div class="form-group">
          <label for="descptn">Description:</label>
          <textarea type="text" class="form-control" id="descptn" placeholder="Description" name="descpstn"></textarea>
        </div>
        <div class="form-group">
          <label for="file">Upload Image</label>
          <div class="input-group">
            <div class="file">
              <input type="file" class="file" id="file" name="img">
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
 
{% endblock %}